In [ ]:
def number_to_word(num):
  units = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven',
           'eight', 'nine', 'ten', 'eleven', 'twelve', 'thirteen',
    'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen']

  tens = ['', '', 'twenty', 'thirty', 'fourty', 'fifty', 'sixty',
          'seventy', 'eighty', 'ninety']

  if num < 20:
    return units[num]
  elif num < 100:
    return tens[num//10] + ('' if num%10 == 0 else ' ' + units[num%10])
  elif num < 1000:
    return units[num//100]+' hundred'+('' if num%100==0
                                       else ' ' + number_to_word(num%100))
  elif num < 1000000:
    return number_to_word(num//1000) + ' thousand'+('' if num%1000==0
                        else ' '+number_to_word(num%1000))
  else:
    return 'Number out of range'

In [ ]:
num = int(input("Enter a number: "))
print(number_to_word(num))

Enter a number: 999999
nine hundred ninety nine thousand nine hundred ninety nine

In [ ]:
print(number_to_word(78925))

seventy eight thousand nine hundred twenty five